################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AIReadDoc/obj
/Services/obj
/AIReadDoc/appsettings.json
/AIReadDoc/bin/Debug/net8.0
/Services/bin/Debug/net8.0
