################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AIReadDoc/obj
/Services/obj
/AIReadDoc/appsettings.json
